.categorie{
  border: 1px solid #000;
  padding: 10px 15px;
  cursor: pointer;
  transition: linear 0.2s;
  white-space: nowrap;
}

.categorie:hover{
  background-color: black;
  color: white;
}

#is_selected{
  border: 1px solid forestgreen;
  cursor: default;
  color: white;
  background-color: forestgreen;
}