* {
  font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
  font-family: "Stanley";
  src: local("AirbnbCerealLight"),
    url("./fonts/Stanley.ttf") format("truetype");
}

#logo{
  margin-left: 50px;
  font-size:xx-large;
  font-family: "Stanley";
}

#header_wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  z-index: 50;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 4px 4px 17px 0px rgba(34, 60, 80, 0.2);
}

main {
  margin-top: 70px;
}

#info_panel {
  display: flex;
  margin-left: 30px;
  /* justify-content: center; */
}

#main_cont {
  padding: 10px 30px;
  display: flex;
}

#categories_cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#content_wrap {
  margin-left: 30px;
  width: 100%;
  height: min-content;
  flex-wrap: wrap;
  display: flex;
  gap: 25px;
}

#loader {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

#header_cont {
  padding: 15px 30px 10px;
}

#cart_logo {
  position: relative;
  cursor: pointer;
  margin-left: auto;
  width: min-content;
}

#cart_logo img {
  width: 30px;
  height: 30px;
}

#cart_cont {
  overflow-y: scroll;
  color: white;
  padding: 20px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 50%;
  background-color: black;
  transition: ease-out 0.6s;
}

body::-webkit-scrollbar,
#cart_cont::-webkit-scrollbar {
  display: none;
}

#cart_cont {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.active {
  left: 50vw;
}

.unactive {
  left: 100vw;
}

#background {
  z-index: 500;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.288);
  width: 100%;
  height: 100%;
}

.unactiveBg {
  display: none;
}

#cart_menu_logo {
  position: relative;
  width: min-content;
  margin: 0 auto;
}

#cart_menu_logo img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

#cart_menu_logo_counter {
  position: absolute;
  top: -9px;
  left: 3px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#cart_wrap {
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}


#cart_wrap p {
  font-size: large;
}

#order_btns {
  display: flex;
  justify-content: space-between;
}

#order_btns button {
  opacity: 0.8;
  color: whitesmoke;
  background-color: transparent;
  padding: 10px 20px;
  transition: linear .2s;
}

#order_btns button:hover {
  opacity: 1;
}

#order {
  border: 4px double lightgreen;
}

#clear {
  border: 4px double crimson;
}

#close_menu{
  cursor: pointer;
  height: 40px;
  filter: invert();
  transition: linear .2s;
}

#close_menu:hover{
  opacity: .8;
}

#menu_head{
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  #cart_cont{
    width: 100vw;
  }
  .active {
    left: 0px;
  }

}